﻿@using ContactCenter.Common
@model IEnumerable<ContactCenter.CUSTOMER>

@{
    ViewBag.Title = "Customer Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-check font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Customer Approval List</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @if (ViewBag.Error != null && ViewBag.Error != "")
                            {
                                <div class='alert alert-danger text-center mrg15B' role='alert'>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <b>@ViewBag.Error</b>
                                </div>
                            }
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover dataTable no-search" id="customer-list">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CUSTOMERCODE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FULLNAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PHONENUMBER)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CITY)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.STATUS)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.CREATEDDATE)
                                    </th>*@
                                <th>
                                    Created By
                                </th>
                                <th style="min-width: 100px"></th>
                            </tr>
                            <tr>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-code" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-fullname" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-phonenumber" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-city" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    @Html.DropDownList("status-search", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Active", Value = "Active" },
                                        new SelectListItem{ Text="Inactive", Value = "Inactive" },
                                        new SelectListItem{ Text="Approval", Value = "Approval", Selected = true }
                                     }, "All Status", new { @class = "form-control select2 no-placeholder", @disabled = "disabled" })
                                </th>
                                @*<th style="padding: 10px 8px;">
                                        <input type="text" class="form-control customer-search created-date" placeholder="Search.." />
                                    </th>*@
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search created-by" placeholder="Search.." />
                                </th>
                                <th style="min-width: 100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CUSTOMERCODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FULLNAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PHONENUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CITY1.CITY1)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.STATUS)*@

                                        @switch (item.STATUS)
                                        {
                                            case 0:
                                                <span class="label label-danger"> Inactive </span>
                                                break;
                                            case 1:
                                                <span class="label label-success"> Active </span>
                                                break;
                                            case 2:
                                                <span class="label label-warning"> Approval </span>
                                                break;
                                        }
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USER.USERNAME)
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Details", "Customer", new { id = item.CUSTOMERID, returnAction = "Approval" })" title="Details" class="btn yellow btn-xs btn-eye">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="@Url.Action("Edit", "Customer", new { id = item.CUSTOMERID, returnAction = "Approval" })" title="Edit" class="btn green btn-xs btn-edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        @if (item.STATUS == (int)Status.Approval)
                                        {
                                            <a href="@Url.Action("Approve", "Customer", new { id = item.CUSTOMERID, returnAction = "Approval" })" title="Approve" class="btn green-meadow btn-xs btn-edit" onclick="return confirm('Are you sure to Approve this Customer?');">
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <a href="@Url.Action("Reject", "Customer", new { id = item.CUSTOMERID, returnAction = "Approval"  })" title="Reject" class="btn red btn-xs btn-edit" onclick="return confirm('Are you sure to Reject this Customer?');">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#customer-list').DataTable();

            $('#customer-list thead tr:eq(1) th').each(function (i) {
                $('input, select', this).on('keyup change', function () {
                    //console.log(table.column(i).search());
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}