﻿@using ContactCenter.Common
@model ContactCenter.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-stethoscope font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Details Customer (@Model.CUSTOMERCODE - @Model.FULLNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CUSTOMERCODE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CUSTOMERCODE)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FULLNAME)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FULLNAME)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GENDER)
                        </dt>

                        <dd>
                            @if (Model.GENDER == 0)
                            {
                                @Html.Raw("Female")
                            }
                            else
                            {
                                @Html.Raw("Male")
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PHONENUMBER)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHONENUMBER)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PHONENUMBER2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHONENUMBER2)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMAIL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CITY)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CITY1.CITY1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ADDRESS)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.ADDRESS)*@
                            @if (!string.IsNullOrEmpty(Model.ADDRESS))
                            {
                                @Html.Raw(Model.ADDRESS.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE1)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE1)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE1))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE1.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE2)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE2)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE2))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE2.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE3)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE3)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE3))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE3.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.STATUS)
                        </dt>

                        <dd>
                            @switch (Model.STATUS)
                            {
                                case 0:
                                    <span class="label label-danger"> Inactive </span>
                                    break;
                                case 1:
                                    <span class="label label-success"> Active </span>
                                    break;
                                case 2:
                                    <span class="label label-warning"> Approval </span>
                                    break;
                                case 3:
                                    <span class="label label-warning"> Reject </span>
                                    break;
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CREATEDDATE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CREATEDDATE)
                        </dd>

                        <dt>
                            Created By
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USER.USERNAME)
                        </dd>

                    </dl>

                    <div class="form-actions no-color">
                        @*<input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")*@
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Edit", "Customer", new { id = Model.CUSTOMERID })" class="btn btn-success" id="btn-save">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </a>

                            @if (Model.STATUS == (int)Status.Approval)
                            {
                                <a href="@Url.Action("Approve", "Customer", new { id = Model.CUSTOMERID })" class="btn green-meadow" id="btn-approve" onclick="return confirm('Are you sure to Approve this Customer?');">
                                    <i class="fa fa-check"></i>
                                    Approve
                                </a>
                            }

                            @Html.ActionLink("Back to List", Request.Params["returnAction"] ?? "Index", null, new { @class = "btn default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

