﻿@using ContactCenter.Common
@model ContactCenter.CUSTOMER

@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-stethoscope font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Edit Customer (@Model.CUSTOMERCODE - @Model.FULLNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    @if (ViewBag.Error != null && ViewBag.Error != "")
                    {
                        <div class='alert alert-danger text-center' role='alert'>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <b>@ViewBag.Error</b>
                        </div>
                    }

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CUSTOMERID)
                            @Html.HiddenFor(model => model.CREATEDBY)
                            @Html.HiddenFor(model => model.CREATEDDATE)

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.CUSTOMERCODE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @if (Model.STATUS == (int)Status.Approval)
                                    {
                                        @Html.EditorFor(model => model.CUSTOMERCODE, new { htmlAttributes = new { @class = "form-control" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.CUSTOMERCODE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    }
                                    @Html.ValidationMessageFor(model => model.CUSTOMERCODE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.FULLNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.GENDER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.GENDER, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Male", Value = "1" },
                                        new SelectListItem{ Text="Female", Value = "0" }
                                     }, "- Please select Gender -", new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.PHONENUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PHONENUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PHONENUMBER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.PHONENUMBER2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PHONENUMBER2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PHONENUMBER2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.CITY, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CITY, new SelectList(ViewBag.Cities, "ID", "CITY1"), "- Please select City -", new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.PLACEOFPRACTICE1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PLACEOFPRACTICE1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PLACEOFPRACTICE1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.PLACEOFPRACTICE2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PLACEOFPRACTICE2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PLACEOFPRACTICE2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.PLACEOFPRACTICE3, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PLACEOFPRACTICE3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PLACEOFPRACTICE3, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Active", Value = "1", Disabled = Model.STATUS == (int)Status.Approval },
                                        new SelectListItem{ Text="Inactive", Value = "0", Disabled = Model.STATUS == (int)Status.Approval },
                                        new SelectListItem{ Text="Approval", Value = "2", Disabled = Model.STATUS != (int)Status.Approval }
                                     }, new { @class = "form-control select2 no-search" })
                                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Created By", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 pad-top-7">
                                    @Html.DisplayFor(model => model.USER.USERNAME)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 pad-top-7">
                                    @Html.DisplayFor(model => model.CREATEDDATE)
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (ViewBag.Error != null && ViewBag.Error != "")
                                        {
                                            <div class='alert alert-danger text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Error</b>
                                            </div>
                                        }

                                        @if (ViewBag.Success != null && ViewBag.Success != "")
                                        {
                                            <div class='alert alert-success text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Success</b>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                                        <button type="submit" class="btn btn-success" id="btn-save">
                                            <i class="fa fa-check"></i>
                                            Save Changes
                                        </button>
                                        @Html.ActionLink("Cancel", Request.Params["returnAction"] ?? "Index", null, new { @class = "btn default" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
