﻿@using ContactCenter.Common
@model IEnumerable<ContactCenter.CUSTOMER>

@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-stethoscope font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Customer List</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dv-alert"></div>
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn sbold green" id="btn-add" href="@Url.Action("Create", "Customer")">
                                    <i class="fa fa-plus"></i>
                                    Add New Customer
                                </a>
                                <a class="btn sbold blue pull-right" target="_blank" href="@Url.Action("Export", "Customer")">
                                    <i class="fa fa-download"></i>
                                    Export to Excel
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                @if (ViewBag.Error != null && ViewBag.Error != "")
                                {
                                    <div class='alert alert-danger text-center mrg0B mrg15T' role='alert'>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <b>@ViewBag.Error</b>
                                    </div>
                                }

                                @if (ViewBag.Success != null && ViewBag.Success != "")
                                {
                                    <div class='alert alert-success text-center mrg0B mrg15T' role='alert'>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <b>@ViewBag.Success</b>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box blue mrg0B mrg15T">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-cloud-upload"></i>Upload Customer
                                        </div>
                                    </div>
                                    <div class="portlet-body pad15A">
                                        @using (Html.BeginForm("Import", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <table>
                                                <tr>
                                                    <td width="300px">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="filename.." readonly>
                                                            <span class="input-group-btn">
                                                                <span class="btn btn-sample btn-file">
                                                                    <i class="icon-magnifier "></i> Browse <input type="file" name="excelfile" />
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td style="padding-left:10px">
                                                        @*<input type="submit" class="btn btn-success" name="submitimport" value="Upload" />*@
                                                        <button type="submit" class="btn btn-success" id="btn-save">
                                                            <i class="icon-cloud-upload "></i>
                                                            Upload
                                                        </button>
                                                    </td>
                                                    <td style="padding-left:10px">
                                                        @Html.ActionLink("Download Template", "Download", "Customer", null, new { @class = "btn btn-default" })
                                                    </td>
                                                </tr>
                                                @if (ViewBag.error != null)
                                                {
                                                    <tr>
                                                        <td colspan="3" class="text-danger">
                                                            <br />
                                                            @Html.Raw(ViewBag.error)
                                                        </td>
                                                    </tr>
                                                }
                                            </table>

                                            // validate upload
                                            if (ViewBag.ErrorUpload != null)
                                            {
                                                <br />
                                                <table class="table display table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr class="danger text-danger">
                                                            <th class="text-center" width="15%">Row Number</th>
                                                            <th class="text-center">Error Message</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{string[,] msgs = ViewBag.ErrorUpload as string[,];}
                                                        @for (int i = 0; i <= msgs.GetUpperBound(0); i++)
                                                        {
                                                            if (msgs[i, 0] != "" && msgs[i, 0] != null)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">@msgs[i, 0]</td>
                                                                    <td class="text-danger">@Html.Raw(@msgs[i, 1])</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table class="table table-striped table-bordered table-hover dataTable no-search" id="customer-list">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CUSTOMERCODE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FULLNAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PHONENUMBER)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CITY)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.STATUS)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.CREATEDDATE)
                                    </th>*@
                                <th>
                                    Created By
                                </th>
                                <th style="min-width: 100px"></th>
                            </tr>
                            <tr>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-code" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-fullname" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-phonenumber" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search customer-city" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    @Html.DropDownList("status-search", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Active", Value = "Active" },
                                        new SelectListItem{ Text="Inactive", Value = "Inactive" },
                                        new SelectListItem{ Text="Approval", Value = "Approval" }
                                     }, "All Status", new { @class = "form-control select2 no-placeholder" })
                                </th>
                                @*<th style="padding: 10px 8px;">
                                        <input type="text" class="form-control customer-search created-date" placeholder="Search.." />
                                    </th>*@
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control customer-search created-by" placeholder="Search.." />
                                </th>
                                <th style="min-width: 100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CUSTOMERCODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FULLNAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PHONENUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CITY1.CITY1)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.STATUS)*@

                                        @switch (item.STATUS)
                                        {
                                            case 0:
                                                <span class="label label-danger"> Inactive </span>
                                                break;
                                            case 1:
                                                <span class="label label-success"> Active </span>
                                                break;
                                            case 2:
                                                <span class="label label-warning"> Approval </span>
                                                break;
                                           
                                        }
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USER.USERNAME)
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Details", "Customer", new { id = item.CUSTOMERID })" title="Details" class="btn yellow btn-xs btn-eye">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="@Url.Action("Edit", "Customer", new { id = item.CUSTOMERID })" title="Edit" class="btn green btn-xs btn-edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        @if (item.STATUS == (int)Status.Approval)
                                        {
                                            <a href="@Url.Action("Approve", "Customer", new { id = item.CUSTOMERID })" title="Approve" class="btn green-meadow btn-xs btn-edit" onclick="return confirm('Are you sure to Approve this Customer?');">
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <a href="@Url.Action("Reject", "Customer", new { id = item.CUSTOMERID })" title="Reject" class="btn red btn-xs btn-edit" onclick="return confirm('Are you sure to Reject this Customer?');">
                                                <i class="fa fa-close"  ></i>
                                            </a>
                                        }
                                        @*<a href="@Url.Action("Delete", "Customer", new { id = item.CUSTOMERID })" title="Delete" class="btn red btn-xs btn-disable">
            <i class="fa fa-remove"></i>
        </a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#customer-list').DataTable();

            $('#customer-list thead tr:eq(1) th').each(function (i) {
                $('input, select', this).on('keyup change', function () {
                    //console.log(table.column(i).search());
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}