﻿@model ContactCenter.CUSTOMER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMERCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMERCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FULLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONENUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONENUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACEOFPRACTICE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACEOFPRACTICE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACEOFPRACTICE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECIALITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECIALITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY1.CITY1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY1.CITY1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
