﻿@using ContactCenter.Common
@model ContactCenter.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-stethoscope font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Details Your Customer (@Model.CUSTOMERCODE - @Model.FULLNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CUSTOMERCODE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CUSTOMERCODE)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FULLNAME)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FULLNAME)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GENDER)
                        </dt>

                        <dd>
                            @if (Model.GENDER == 0)
                            {
                                @Html.Raw("Female")
                            }
                            else
                            {
                                @Html.Raw("Male")
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PHONENUMBER)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHONENUMBER)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMAIL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CITY)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CITY1.CITY1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ADDRESS)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.ADDRESS)*@
                            @if (!string.IsNullOrEmpty(Model.ADDRESS))
                            {
                                @Html.Raw(Model.ADDRESS.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE1)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE1)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE1))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE1.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE2)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE2)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE2))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE2.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PLACEOFPRACTICE3)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.PLACEOFPRACTICE3)*@
                            @if (!string.IsNullOrEmpty(Model.PLACEOFPRACTICE3))
                            {
                                @Html.Raw(Model.PLACEOFPRACTICE3.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.STATUS)
                        </dt>

                        <dd>
                            @if (Model.STATUS == 0)
                            {
                                <span class="label label-danger"> Inactive </span>
                            }
                            else
                            {
                                <span class="label label-success"> Active </span>
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CREATEDDATE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CREATEDDATE)
                        </dd>

                        <dt>
                            Created By
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USER.USERNAME)
                        </dd>

                    </dl>

                    <div class="form-actions no-color">
                        @*<input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")*@
                        <div class="col-md-offset-2 col-md-10">
                            @if (Model.STATUS == (int)Status.Approval)
                            {
                                <a href="@Url.Action("Edit", "YourCustomer", new { id = Model.CUSTOMERID })" class="btn btn-success" id="btn-save">
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </a>
                            }
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

