﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <p>
        Dear {{name}},
    </p>
    <p>
        {{text}}
    </p>

    <p>
        <b><u>Header:</u></b>
    </p>

    <table style="margin-left: 15px;">
        <tr>
            <td style="font-weight: bold">Order ID</td>
            <td> : </td>
            <td>{{order_id}}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Distributor Name</td>
            <td> : </td>
            <td>{{distributor_name}}</td>
        </tr>
        <!--<tr>
            <td style="font-weight: bold">Distributor Address</td>
            <td> : </td>
            <td>{{distributor_address}}</td>
        </tr>-->
        <tr>
            <td style="font-weight: bold">Distributor Phone Number</td>
            <td> : </td>
            <td>{{distributor_phone}}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Customer Code</td>
            <td> : </td>
            <td>{{customer_code}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Customer Name</td>
            <td> : </td>
            <td>{{customer_name}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Customer Address</td>
            <td> : </td>
            <td>{{customer_address}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Customer Phone Number</td>
            <td> : </td>
            <td>{{customer_phone}}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Pharmacy Code</td>
            <td> : </td>
            <td>{{pharmacy_code}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Pharmacy Name</td>
            <td> : </td>
            <td>{{pharmacy_name}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Pharmacy Address</td>
            <td> : </td>
            <td>{{pharmacy_address}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Pharmacy Phone Number</td>
            <td> : </td>
            <td>{{pharmacy_phone}}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Expected Delivery Date</td>
            <td> : </td>
            <td>{{delivery_date}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Delivery Address</td>
            <td> : </td>
            <td>{{delivery_address}}</td>
        </tr>
    </table>

    <p>
        <br />
        <b><u>Detail:</u></b>
    </p>

    <table style="margin-left: 15px; border: solid 1px black; border-collapse: collapse;">
        {{table_product}}
    </table>
    {{total_order}}

    {{reply_info}}

    <p>
        <br />
        Thank You and Best Regards,
    </p>
    <p>
        Halo Vaksin
    </p>
</body>
</html>
