﻿@model ContactCenter.PHARMACY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-medkit font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Details Channel (@Model.PHARMACYCODE - @Model.PHARMACYNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.PHARMACYCODE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHARMACYCODE)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PHARMACYNAME)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHARMACYNAME)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TYPE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TYPE)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PHONENUMBER)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHONENUMBER)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PHONENUMBER2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHONENUMBER2)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMAIL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CITY)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CITY1.CITY1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ADDRESS)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ADDRESS)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PHARMACYPLANT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PHARMACYPLANT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.STATUS)
                        </dt>

                        <dd>
                            @if (Model.STATUS == 0)
                            {
                                <span class="label label-danger"> Inactive </span>
                            }
                            else
                            {
                                <span class="label label-success"> Active </span>
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CREATEDDATE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CREATEDDATE)
                        </dd>

                        <dt>
                            Created By
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USER.USERNAME)
                        </dd>

                    </dl>
                    <div class="form-actions no-color">
                        @*<input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")*@
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Create" class="btn btn-default" />*@
                            <a href="@Url.Action("Edit", "Channel", new { id = Model.PHARMACYID })" class="btn btn-success" id="btn-save">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </a>
                            @*<a href="@Url.Action("Delete", "Pharmacy", new { id = Model.PHARMACYID })" class="btn btn-danger" id="btn-save">
                                <i class="fa fa-trash-o"></i>
                                Delete
                            </a>*@
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn default" })
                        </div>
                    </div>
                </div>

                @*<p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTOMERID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>*@
            </div>
        </div>
    </div>
</div>
