﻿@using ContactCenter.Common
@model ContactCenter.Models.OrderViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}

<style>
    .select2-container--bootstrap .select2-results__option[aria-disabled="true"] {
        display: none;
    }

    .input-group .select2-selection {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp col-md-12">
                        <i class="icon-basket font-green-sharp"></i>
                        @if (Model.ORDER == null)
                        {
                            <span class="caption-subject bold uppercase">New Order</span>
                        }
                        else
                        {
                            if (Model.ORDER.STATUS == null && (Model.ORDER.CUSTOMER != null || Model.ORDER.PHARMACY != null))
                            {
                                <span class="caption-subject bold uppercase">Reorder from Order #@Request.Url.Segments.Last()</span>
                            }
                            else if (Model.ORDER != null && Model.ORDER.ORDERID != 0)
                            {
                                <span class="caption-subject bold uppercase">Edit Order #@Model.ORDER.ORDERID</span>
                            }
                            else
                            {
                                <span class="caption-subject bold uppercase">New Order</span>
                            }
                        }
                        <span class="label label-success pull-right uppercase bold">@(Model.ORDER != null ? (Model.ORDER.STATUS == null ? "" : ((OrderStatus)Model.ORDER.STATUS).GetDescription()) : "")</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="dv-alert"></div>

                    @using (Html.BeginForm("Create", "Order", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        if (Model.ORDER != null)
                        {
                            @Html.HiddenFor(model => model.ORDER.ORDERID)

                            if (Model.ORDER.ORDERID != 0)
                            {
                                @Html.HiddenFor(model => model.ORDER.STATUS)
                            }
                        }

                        @Html.HiddenFor(model => model.Title)

                        <input type="hidden" id="hid-address" value="@(Model.ORDER != null ? Model.ORDER.DELIVERYADDRESS : "")" />

                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (ViewBag.Error != null && ViewBag.Error != "")
                                    {
                                        <div class='alert alert-danger text-center mrg0B' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Error</b>
                                        </div>
                                    }

                                    @if (ViewBag.Success != null && ViewBag.Success != "")
                                    {
                                        <div class='alert alert-success text-center mrg0B' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Success</b>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="portlet box blue mrg0B mrg15T">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-inbox"></i>Source order
                                            </div>
                                            <div class="actions col-md-4">
                                                @Html.DropDownListFor(model => model.ORDER.SOURCEORDER, ViewBag.SourceOrderList as SelectList, "--Select--", new { @class = "form-control select2 input-sm no-placeholder", @id = "source-order" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="portlet box blue mrg0B mrg15T">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-stethoscope"></i>Customer Information
                                            </div>
                                            <div class="actions col-md-4">
                                                <input type="text" class="form-control input-sm" id="order-cust-city" disabled="disabled" style="background: white; opacity: 1" placeholder="City" />
                                            </div>
                                        </div>
                                        <div class="portlet-body pad15A">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ORDER.CUSTOMERID, "Customer", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @*@Html.DropDownListFor(m => m.ORDER.CUSTOMERID, new SelectList(Model.CustList, "CUSTOMERID", "FULLNAME"), "- Please select Customer -", new { @class = "form-control select2", @id = "order-cust-id" })*@
                                                    @*@Html.EditorFor(m => m.ORDER.CUSTOMERID, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    <select name="@Html.NameFor(model => model.ORDER.CUSTOMERID)"
                                                            id="order-cust-id"
                                                            class="form-control select2" aria-hidden="true"
                                                            data-val="true" data-val-number="The field CUSTOMERID must be a number." data-val-required="Customer is required">
                                                        <option value="0">- Please select Customer -</option>
                                                        @foreach (var item in Model.CustList)
                                                        {
                                                            <option value="@item.CUSTOMERID"
                                                                    data-status="@item.STATUS"
                                                                    data-phone="@item.PHONENUMBER"
                                                                    data-city="@item.CITY1.CITY1"
                                                                    data-city-id="@item.CITY"
                                                                    data-email="@item.EMAIL"
                                                                    data-address="@item.ADDRESS"
                                                                    data-pop1="@item.PLACEOFPRACTICE1"
                                                                    data-pop2="@item.PLACEOFPRACTICE2"
                                                                    data-pop3="@item.PLACEOFPRACTICE3"
                                                                    title="@item.STATUS">
                                                                @item.CUSTOMERCODE - @item.FULLNAME
                                                            </option>
                                                        }
                                                    </select>

                                                    @Html.ValidationMessageFor(model => model.ORDER.CUSTOMERID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="cust-phone">Phone Number</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="order-cust-phone" disabled="disabled" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="cust-email">Email</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="order-cust-email" disabled="disabled" />
                                                </div>
                                            </div>

                                            @*HIDE DELIVERY ADDRESS*@
                                            @*<div class="form-group">
                                                    @Html.LabelFor(model => model.ORDER.DELIVERYADDRESS, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        <select
                                                                id="order-cust-address"
                                                                class="form-control select2">
                                                            <option value="">- Please select Delivery Address -</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="hid-div-address" style="display:none">
                                                    <div class="col-md-8 col-lg-offset-4">
                                                        <textarea class="form-control"
                                                                  name="@Html.NameFor(model => model.ORDER.DELIVERYADDRESS)"
                                                                  id="hid-order-cust-address"></textarea>

                                                    </div>
                                                </div>

                                                @Html.ValidationMessageFor(model => model.ORDER.DELIVERYADDRESS, "", new { @class = "col-lg-offset-4 text-danger" })
                                            *@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="portlet box blue mrg0B mrg15T">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-medkit"></i>Channel Information
                                            </div>
                                            <div class="actions col-md-4">
                                                @*<a href="javascript:;" class="btn blue btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>*@
                                                @Html.DropDownListFor(m => m.ORDER.CITY, new SelectList(Model.Cities, "ID", "CITY1"), "- All Region -", new { @class = "form-control select2 input-sm no-placeholder", @id = "order-city" })
                                            </div>
                                        </div>
                                        <div class="portlet-body pad15A">
                                            <div class="form-group">
                                                @Html.LabelRequiredFor(model => model.ORDER.PHARMACYID, "Channel", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @*@Html.DropDownListFor(m => m.ORDER.PHARMACYID, (IEnumerable<SelectListItem>)ViewBag.Pharmacies, "- Please select Pharmacy -", new { @class = "form-control select2", @id = "order-pharmacy" })*@

                                                    <select name="@Html.NameFor(model => model.ORDER.PHARMACYID)"
                                                            id="order-pharmacy-id"
                                                            class="form-control select2" aria-hidden="true"
                                                            data-val="true" data-val-number="The field PHARMACYID must be a number." data-val-required="Channel is required">
                                                        <option value="">- Please select Channel -</option>
                                                        @foreach (var item in Model.PharList)
                                                        {
                                                            <option value="@item.PHARMACYID"
                                                                    data-type="@item.TYPE"
                                                                    data-address="@item.ADDRESS"
                                                                    data-code="@item.PHARMACYCODE"
                                                                    data-phone="@item.PHONENUMBER"
                                                                    data-email="@item.EMAIL"
                                                                    data-city="@item.CITY">
                                                                @item.PHARMACYCODE - (@item.TYPE.Substring(0, 1)) @item.PHARMACYNAME
                                                            </option>
                                                        }
                                                    </select>

                                                    @Html.ValidationMessageFor(model => model.ORDER.PHARMACYID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="pharmacy-phone">Channel Phone</label>
                                                <div class="col-md-8">
                                                    <input type="hidden" name="@Html.NameFor(model => model.ChannelType)" id="order-institution-type" />
                                                    <input type="text" class="form-control" id="order-pharmacy-phone" disabled="disabled" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="pharmacy-email">Channel Email</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="order-pharmacy-email" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelRequiredFor(model => model.ORDER.USERCHANNEL, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.ORDER.USERCHANNEL, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ORDER.USERCHANNEL, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*HIDE CHANNEL ADDRESS*@
                                            @*<div class="form-group">
                                                    <label class="control-label col-md-4" for="pharmacy-address">Address</label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" id="order-pharmacy-address" disabled="disabled"></textarea>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box blue mrg0B mrg15T">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-truck"></i>Order Details
                                            </div>
                                        </div>
                                        <div class="portlet-body pad15A">
                                            @*START PROPOSED SOLUTION*@
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    @Html.LabelRequiredFor(model => model.ORDER.DELIVERYADDRESS, htmlAttributes: new { @class = "" })
                                                    <select id="order-cust-address"
                                                            class="form-control select2" aria-hidden="true"
                                                            data-val="true">
                                                        <option value="">- Please select Delivery Address -</option>
                                                        <optgroup label="Customer's Address" id="customer-address"></optgroup>
                                                        <optgroup label="Channel's Address" id="channel-address"></optgroup>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group" id="hid-div-address" style="display:none">
                                                <div class="col-md-6">
                                                    <textarea class="form-control"
                                                              name="@Html.NameFor(model => model.ORDER.DELIVERYADDRESS)"
                                                              id="hid-order-cust-address"></textarea>

                                                    @Html.ValidationMessageFor(model => model.ORDER.DELIVERYADDRESS, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <hr />
                                            @*END PROPOSED SOLUTION*@

                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ORDER.DELIVERYDATE, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.ORDER.DELIVERYDATE, new { htmlAttributes = new { @class = "form-control date-picker", @Value = Model.ORDER != null && Model.ORDER.DELIVERYDATE != null ? Model.ORDER.DELIVERYDATE.Value.ToString("MM/dd/yyyy") : "", autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ORDER.DELIVERYDATE, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ORDER.DISTRIBUTORNAME, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.ORDER.DISTRIBUTORNAME, new { htmlAttributes = new { @class = "form-control", @Value = "APL" } })
                                                    @Html.ValidationMessageFor(model => model.ORDER.DISTRIBUTORNAME, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ORDER.DISTRIBUTORPHONENUMBER, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.ORDER.DISTRIBUTORPHONENUMBER, new { htmlAttributes = new { @class = "form-control", @Value = "021-2918 5388" } })
                                                    @Html.ValidationMessageFor(model => model.ORDER.DISTRIBUTORPHONENUMBER, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ORDER.DISTRIBUTOREMAIL, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.ORDER.DISTRIBUTOREMAIL, new { htmlAttributes = new { @class = "form-control", @Value = Session["Email"] } })
                                                    @Html.ValidationMessageFor(model => model.ORDER.DISTRIBUTOREMAIL, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box blue mrg15T">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-basket-loaded"></i>Item List
                                            </div>
                                        </div>
                                        <div class="portlet-body pad15A">
                                            @Html.ValidationMessageFor(model => model.ORDERDETAILList, "", new { @class = "text-danger" })
                                            <div class="mt-repeater">
                                                <div data-repeater-list="ORDERDETAILList">
                                                    <div data-repeater-item class="row mrg10B">
                                                        <div class="order-item col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    <label class="font-bold">Product</label>
                                                                    @*@Html.EditorFor(model => model.ORDERDETAILList[0].PRODUCTID, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    @*@Html.Editor("PRODUCTID", new { htmlAttributes = new { @class = "form-control", @data_mvc_name = true } })
                                                                        data-toggle="modal" data-target="#product-modal"
                                                                    *@

                                                                    <input type="hidden" class="order-product-id" name="PRODUCTID" data-mvc-name="true" />
                                                                    <input type="hidden" name="PRODUCT.PRODUCTCODE" class="order-product-code" data-mvc-name="true">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control order-product-name" placeholder="Search for product" name="PRODUCT.PRODUCTNAME" data-mvc-name="true">
                                                                        <span class="input-group-btn">
                                                                            <button class="btn green btn-search-product" type="button"><i class="icon-magnifier "></i></button>
                                                                        </span>
                                                                    </div>

                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].PRODUCTID, "", new { @class = "text-danger" })
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <label class="font-bold">Batch No</label>
                                                                    <input type="hidden" name="PRODUCT.BATCHNO" class="order-product-batchno-input" data-mvc-name="true">
                                                                    <div class="pad5T order-product-batchno"> - </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <label class="font-bold">ED</label>
                                                                    <input type="hidden" name="PRODUCT.EXPIREDDATE" class="order-product-ed-input" data-mvc-name="true">
                                                                    <div class="pad5T order-product-ed"> - </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <label class="font-bold">Plant</label>
                                                                    <input type="hidden" name="PRODUCT.PLANT" class="order-product-plant-input" data-mvc-name="true">
                                                                    <div class="pad5T order-product-plant"> - </div>
                                                                </div>
                                                                <div class="col-md-1 pad-top-15">
                                                                    <a href="javascript:;" data-repeater-delete class="form-control btn btn-danger btn-remove-item" title="Delete this item">
                                                                        <i class="fa fa-close"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-2">
                                                                    <label class="font-bold">QTY</label>
                                                                    @*@Html.EditorFor(model => model.ORDERDETAILList[0].QTY, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    <input type="text" name="QTY" class="form-control order-product-qty" data-mvc-name="true" data-val="true" data-val-regex="Must be a number" data-val-regex-pattern="^[0-9]*$" value="1" />
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].QTY, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="font-bold">UoM</label>
                                                                    @*@Html.EditorFor(model => model.ORDERDETAILList[0].QTY, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    <input type="text" name="UOM" class="form-control order-product-uom" data-mvc-name="true" data-val="true" />
                                                                    @*@Html.ValidationMessageFor(model => model.ORDERDETAILList[0].UOM, "", new { @class = "text-danger" })*@
                                                                </div>


                                                                <div class="col-md-2">
                                                                    <label class="font-bold">Price (P)</label>
                                                                    <input type="hidden" name="PRODUCT.PRICE" class="hid-order-product-price" data-mvc-name="true" />
                                                                    <input type="hidden" name="PRICE" class="hid-order-product-price" data-mvc-name="true" />
                                                                    <div class="pad5T"> Rp<span class="order-product-price">0</span> </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <label class="font-bold">(P) after Discount</label>
                                                                    <div class="pad5T">Rp<span class="order-product-price-after-discount">0</span></div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <label class="font-bold">Sub Total (ST)</label>
                                                                    <div class="pad3T font-green-sharp font-size-18">Rp<span class="order-product-st">0</span></div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <label class="font-bold">(ST) after Discount</label>
                                                                    <div class="pad5T">Rp<span class="order-product-st-after-discount">0</span></div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-md-1">
                                                                    <label class="font-bold font-size-11">Doctor %</label>
                                                                    <input type="text" name="DISCOUNT_CUST" class="form-control order-product-discount-cust" data-mvc-name="true" data-val="true" data-val-regex="Must be a number" data-val-regex-pattern="^(?=.*\d)\d*[\.]?\d*$" value="0" />
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].DISCOUNT_CUST, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="font-bold font-size-11">INFO. DISC CUSTOMER</label>
                                                                    @Html.DropDownList("INFODISCCUSTOMER", ViewBag.IDCList as SelectList, "--Select--", new { @class = "form-control select2 input-sm no-placeholder INFODISCCUSTOMER", @id = "info-dis-cus" })
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].INFODISCCUSTOMER, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-1">
                                                                    <label class="font-bold font-size-11">Channel %</label>
                                                                    @*@Html.EditorFor(model => model.ORDERDETAILList[0].PRODUCT.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                                                                    <input type="text" name="DISCOUNT" class="form-control order-product-discount" data-mvc-name="true" data-val="true" data-val-regex="Must be a number" data-val-regex-pattern="^(?=.*\d)\d*[\.]?\d*$" value="5" />
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].DISCOUNT, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="font-bold font-size-11">SUBMISSION OF DISC.</label>
                                                                    @Html.DropDownList("SUBMISSIONOFDISCOUNTS", ViewBag.SODList as SelectList, "--Select--", new { @class = "form-control select2 input-sm no-placeholder SUBMISSIONOFDISCOUNTS", @id = "sub-of-disc" })
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].SUBMISSIONOFDISCOUNTS, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    <label class="font-bold  ">Discount Reference</label>
                                                                    @*@Html.EditorFor(model => model.ORDERDETAILList[0].QTY, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    <input type="text" name="DISCOUNTREFERENCE" class="form-control DISCOUNTREFERENCE" data-mvc-name="true" data-val="true" />
                                                                    @Html.ValidationMessageFor(model => model.ORDERDETAILList[0].DISCOUNTREFERENCE, "", new { @class = "text-danger" })
                                                                </div>

                                                            </div>

                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <a href="javascript:;" data-repeater-create class="btn blue mt-repeater-add btn-add-item">
                                                        <i class="fa fa-plus"></i> Add Item
                                                    </a>
                                                </div>

                                                <div class="pad0B mrg25T col-md-12">
                                                    <div class="row">
                                                        <span class="caption-subject bold uppercase font-size-16 pad15A col-md-offset-7 col-md-2 text-right">Total</span>
                                                        <span class="caption-subject bold font-size-28 font-green-sharp col-md-3">Rp<span id="total-price">0</span></span>
                                                    </div>
                                                    <div class="row">
                                                        <span class="col-md-offset-7 col-md-2 text-right">Total After Discount</span>
                                                        <span class="col-md-3">Rp<span id="total-price-after-discount">0</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (ViewBag.Error != null && ViewBag.Error != "")
                                        {
                                            <div class='alert alert-danger text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Error</b>
                                            </div>
                                        }

                                        @if (ViewBag.Success != null && ViewBag.Success != "")
                                        {
                                            <div class='alert alert-success text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Success</b>
                                            </div>
                                        }
                                    </div>
                                </div>

                                @{
                                    var hide = Model.ORDER == null ? "" : ((Model.ORDER.STATUS == (int)OrderStatus.Draft || Model.ORDER.STATUS == null) ? "" : "hide");
                                }

                                <div class="row">
                                    <div class="col-md-offset-1 col-md-3 pad0R">
                                        <button type="button" class="btn yellow pull-right @hide" @*name="@Html.NameFor(model => model.SubmitType)"*@ value="@((int)OrderStatus.Inquiry)" id="btn-submit-inquiry">
                                            <i class="icon-doc"></i>
                                            Inquiry
                                        </button>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="col-md-6 pad5R">

                                            <button type="submit" style="width: 130px" class="btn blue pull-right @hide" name="@Html.NameFor(model => model.SubmitType)" value="@((int)OrderStatus.Draft)">
                                                <i class="icon-paper-clip"></i>
                                                Save as Draft
                                            </button>
                                        </div>
                                        <div class="col-md-6 pad5L">

                                            <button type="submit" style="width: 130px" id="btn-submit-order" class="btn btn-success pull-left btn-submit @hide" name="@Html.NameFor(model => model.SubmitType)" value="@((int)OrderStatus.Submitted)">
                                                <i class="fa fa-check"></i>
                                                Submit
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-md-4 pad0L">
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn default pull-left" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="inquiry-modal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form role="form" id="user-form" method="POST">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title" id="modal-title">Choose Inquiry Type</h4>
                                        </div>
                                        <div class="modal-body form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="inquiry-type">Inquiry Type</label>
                                                <div class="col-md-8">
                                                    <select class="form-control select2" id="inquiry-type">
                                                        <option value="Cek Invoice">Cek Invoice</option>
                                                        <option value="Dokter tidak tertarik">Dokter tidak tertarik</option>
                                                        <option value="Dokter tertarik">Dokter tertarik</option>
                                                        <option value="Dokter meminta surat keterangan perihal ED produk">Dokter meminta surat keterangan perihal ED produk</option>
                                                        <option value="Dokter akan retur produk pesanan">Dokter akan retur produk pesanan</option>
                                                        <option value="Dokter membutuhkan surat referensi">Dokter membutuhkan surat referensi</option>
                                                        <option value="Komplain ED pendek dokter yang telah order">Komplain ED pendek dokter yang telah order</option>
                                                        <option value="Komplain ED pendek dokter yang baru mau order">Komplain ED pendek dokter yang baru mau order</option>
                                                        <option value="Komplain terkait efek samping obat (PV)">Komplain terkait efek samping obat (PV)</option>
                                                        <option value="Komplain terkait dengan kualitas produk (KTKO)">Komplain terkait dengan kualitas produk (KTKO)</option>
                                                        <option value="Komplain terkait Anti Counterfeit">Komplain terkait Anti Counterfeit</option>
                                                        <option value="Komplain karena salah proses pemesanan produk">Komplain karena salah proses pemesanan produk</option>
                                                        <option value="Komplain karena salah pemberian diskon">Komplain karena salah pemberian diskon</option>
                                                        <option value="Komplain mengenai kandungan porcine">Komplain mengenai kandungan porcine</option>
                                                        <option value="Komplain dengan harga produk mahal">Komplain dengan harga produk mahal</option>
                                                        <option value="Konfirmasi harga">Konfirmasi harga</option>
                                                        <option value="Konfirmasi pesanan">Konfirmasi pesanan</option>
                                                        <option value="Follow up inquiry">Follow up inquiry</option>
                                                        <option value="Follow up komplain">Follow up komplain</option>
                                                        <option value="0">Others (type below)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group" id="hid-div-inquiry-type" style="display:none">
                                                <div class="col-md-8 col-lg-offset-3">
                                                    <textarea class="form-control"
                                                              name="@Html.NameFor(model => model.InquiryType)"
                                                              id="hid-order-inquiry-type"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="inquiry-notes">Inquiry Notes</label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="@Html.NameFor(model => model.InquiryNotes)" id="inquiry-notes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>

                                            <button type="submit" class="btn yellow pull-right" name="@Html.NameFor(model => model.SubmitType)" value="@((int)OrderStatus.Inquiry)">
                                                <i class="icon-doc"></i>
                                                Save Inquiry
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form role="form" id="user-form" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="modal-title">Product List</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover-green dataTable no-search" id="product-list">
                        <thead>
                            <tr>
                                <th style="display:none"></th>
                                <th>
                                    Product Code
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Batch No
                                </th>
                                <th>
                                    Expired Date
                                </th>
                                <th>
                                    Plant
                                </th>
                                <th>
                                    Stock
                                </th>
                                <th>
                                    Price
                                </th>
                                <th style="display:none"></th>
                            </tr>
                            <tr>
                                <th style="display:none"></th>
                                <th>
                                    <input type="text" class="form-control product-search product-code" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search product-name" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search batch-no" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search expired-date" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search product-plant" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search product-stock" placeholder="Search.." />
                                </th>
                                <th>
                                    <input type="text" class="form-control product-search product-price" placeholder="Search.." />
                                </th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProdList)
                            {
                                <tr>
                                    <td style="display: none" class="product-id">
                                        @Html.DisplayFor(modelItem => item.PRODUCTID)
                                    </td>
                                    <td class="product-code">
                                        @Html.DisplayFor(modelItem => item.PRODUCTCODE)
                                    </td>
                                    <td class="product-name">
                                        @Html.DisplayFor(modelItem => item.PRODUCTNAME)
                                    </td>
                                    <td class="product-batchno">
                                        @Html.DisplayFor(modelItem => item.BATCHNO)
                                    </td>
                                    <td class="product-ed">
                                        @if (item.EXPIREDDATE.HasValue)
                                        {
                                            @item.EXPIREDDATE.Value.ToString("dd MMM yyyy")
                                        }
                                        else
                                        {
                                            @Html.Raw(" - ")
                                        }
                                    </td>
                                    <td class="product-plant">
                                        @Html.DisplayFor(modelItem => item.PLANT)
                                    </td>
                                    <td class="product-stock">
                                        @*@Html.DisplayFor(modelItem => item.STOCK)*@
                                        @item.STOCK
                                    </td>
                                    <td class="product-price">
                                        @String.Format("{0:#,#}", item.PRICE)
                                    </td>
                                    <td style="display: none" class="product-ed-d">
                                        @Html.DisplayFor(modelItem => item.EXPIREDDATE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#order-cust-address").on('change', function(e){
                var val = $(this).val();

                //console.log(val);

                if(val == "0"){
                    var hid = $("#hid-address").val();
                    val = hid != "" ? hid : "";
                    $("#hid-order-cust-address").val(val);
                    $("#hid-div-address").show();

                    setTimeout(function(){$("#hid-order-cust-address").focus();}, 300);
                }else{
                    $("#hid-div-address").hide();
                    $("#hid-order-cust-address").val(val);
                }
            });

            $("#inquiry-type").on('change', function(e){
                var val = $(this).val();

                //console.log(val);

                if(val == "0"){
                    $("#hid-order-inquiry-type").val("");
                    //$("#hid-div-inquiry-type").show();

                    setTimeout(function(){$("#hid-order-inquiry-type").focus();}, 300);
                }else{
                    //$("#hid-div-inquiry-type").hide();
                    $("#hid-order-inquiry-type").val(val);
                }
            });

            $("#inquiry-type").trigger("change");
            countTotal();
            generateCustAddress();
            generateChannelAddress();

            var table = $('#product-list').DataTable();

            $('#product-list thead tr:eq(1) th').each(function (i) {
                $('input', this).on('keyup change', function () {
                    //console.log(table.column(i).search());
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            function countTotal() {
                var total = 0;
                var totalAD = 0;

                $(".mt-repeater .order-product-st").each(function () {
                    total += parseFloat(General.removeThousandSeprator($(this).text().trim())) || 0;
                    //console.log("st: " + parseFloat(General.removeThousandSeprator($(this).text().trim())) || 0);
                });

                $(".mt-repeater .order-product-st-after-discount").each(function () {
                    totalAD += parseFloat(General.removeThousandSeprator($(this).text().trim())) || 0;
                    //console.log("stad: "+parseFloat(General.removeThousandSeprator($(this).text().trim())) || 0);
                });

                $("#total-price").text(General.thousandSeparator(total));
                $("#total-price-after-discount").text(General.thousandSeparator(totalAD));
            }

            function countSubTotal($order) {
                var pad = 0;
                var subTotal = 0;
                var subTotalAD = 0;

                var price = parseFloat(General.removeThousandSeprator($order.find(".order-product-price").text().trim())) || 0;
                var discount = parseFloat($order.find(".order-product-discount").val().trim()) || 0;
                discount = discount / 100;
                var qty = parseInt($order.find(".order-product-qty").val().trim()) || 0;

                pad = Math.round(price - (price * discount));
                subTotal = price * qty;
                subTotalAD = Math.round(pad * qty);

                //console.log("pad: " + pad);
                //console.log("subTotal: " + subTotal);
                //console.log("subTotalAD: " + subTotalAD);

                $order.find(".order-product-price-after-discount").text(General.thousandSeparator(pad));
                $order.find(".order-product-st").text(General.thousandSeparator(subTotal));
                $order.find(".order-product-st-after-discount").text(General.thousandSeparator(subTotalAD));

                countTotal();
            }

            function hidePharmacy(city) {
                var elemToHide = $('#order-pharmacy-id option:not([data-city="' + city + '"])');
                var elemToShow = city == "" ? $('#order-pharmacy-id option') : $('#order-pharmacy-id option[data-city="' + city + '"]');

                if (city != "") $(elemToHide).prop('disabled', true);
                $(elemToShow).prop('disabled', false);
            }

            // THIS FUNCTION FOR PROPOSED SOLUTION
            function generateChannelAddress(){
                $chan = $("#order-pharmacy-id");

                var addr = $chan.find(':selected').data('address');

                $("#order-cust-address option[value='0']").remove();

                if(addr !== undefined){
                    var OAddr = $("#hid-address").val();

                    var selAddr = OAddr == addr ? true : false;
                    var selOth = !selAddr;
                    if(OAddr == ""){
                        selAddr = true;

                        selAddr = $('#order-cust-id').val() == "0" ? selAddr : false;
                        selOth = $('#order-cust-id').val() == "0" ? !selAddr : false;
                    }else{
                        if($("#order-cust-address").val() != ""){
                            selAddr = false;
                            selOth = false;
                        }
                    }

                    console.log($("#order-cust-address").val());
                    console.log("selAddr: " + selAddr);
                    console.log("selOth: " + selOth);

                    var addrOpt = new Option(addr.replace(/(?:\r\n|\r|\n)/g, '<br>'), addr, selAddr, selAddr);
                    var otherOpt = new Option("Others (type below)", "0", selOth, selOth);

                    $('#channel-address').append(addrOpt).trigger('change');

                    $('#order-cust-address').append(otherOpt);

                    $('#order-cust-address').trigger('change');
                }else{
                    var otherOpt = new Option("Others (type below)", "0", false, false);
                    $('#order-cust-address').append(otherOpt);
                    $('#order-cust-address').trigger('change');
                }

                $('#order-cust-address').select2('destroy');
                $('#order-cust-address').select2();
            }

            function generateCustAddress() {
                $cust = $('#order-cust-id');

                var addr = $cust.find(':selected').data('address');
                var pop1 = $cust.find(':selected').data('pop1');
                var pop2 = $cust.find(':selected').data('pop2');
                var pop3 = $cust.find(':selected').data('pop3');

                // FOR PROPOSED SOLUTION
                $.each($("#order-cust-address option:selected"), function() {
                    $(this).prop('selected', false);
                });

                // FOR PROPOSED SOLUTION
                $("#order-cust-address option[value='0']").remove();

                if(addr !== undefined){
                    var OAddr = $("#hid-address").val();

                    var selAddr = OAddr == addr ? true : false;
                    var selPop1 = OAddr == pop1 ? true : false;
                    var selPop2 = OAddr == pop2 ? true : false;
                    var selPop3 = OAddr == pop3 ? true : false;

                    if(OAddr == "")
                        selAddr = true;

                    var addrOpt = new Option(addr.replace(/(?:\r\n|\r|\n)/g, '<br>'), addr, selAddr, selAddr);
                    var pop1Opt = new Option(pop1.replace(/(?:\r\n|\r|\n)/g, '<br>'), pop1, selPop1, selPop1);
                    var pop2Opt = new Option(pop2.replace(/(?:\r\n|\r|\n)/g, '<br>'), pop2, selPop2, selPop2);
                    var pop3Opt = new Option(pop3.replace(/(?:\r\n|\r|\n)/g, '<br>'), pop3, selPop3, selPop3);

                    var selOth = !(selAddr || selPop1 || selPop2 || selPop3);

                    var otherOpt = new Option("Others (type below)", "0", selOth, selOth);

                    // START FOR PROPOSED SOLUTION
                    //$('#order-cust-address').append(addrOpt).trigger('change');
                    //$('#order-cust-address').append(pop1Opt).trigger('change');

                    //if (pop2 != "")
                    //    $('#order-cust-address').append(pop2Opt).trigger('change');
                    //if (pop3 != "")
                    //    $('#order-cust-address').append(pop3Opt).trigger('change');

                    $('#customer-address').append(addrOpt).trigger('change');
                    $('#customer-address').append(pop1Opt).trigger('change');

                    if (pop2 != "")
                        $('#customer-address').append(pop2Opt).trigger('change');
                    if (pop3 != "")
                        $('#customer-address').append(pop3Opt).trigger('change');
                    // END FOR PROPOSED SOLUTION

                    $('#order-cust-address').append(otherOpt);

                    $('#order-cust-address').trigger('change');
                }else{
                    var otherOpt = new Option("Others (type below)", "0", false, false);
                    $('#order-cust-address').append(otherOpt);
                    $('#order-cust-address').trigger('change');
                }

                // FOR PROPOSED SOLUTION
                $('#order-cust-address').select2('destroy');
                $('#order-cust-address').select2();
            }

            function prodcutClick(e) {
                //console.log("click product");
                var $order = e.data.invoker;
                var $product = $(e.currentTarget);

                $order.find(".order-product-id").val($product.find("td.product-id").text().trim());
                $order.find(".order-product-code").val($product.find("td.product-code").text().trim());
                $order.find(".order-product-name").val($product.find("td.product-name").text().trim());
                $order.find(".order-product-batchno").text($product.find("td.product-batchno").text().trim());
                $order.find(".order-product-ed").text($product.find("td.product-ed").text().trim());
                $order.find(".order-product-plant").text($product.find("td.product-plant").text().trim());
                $order.find(".order-product-price").text($product.find("td.product-price").text().trim());

                $order.find(".order-product-batchno-input").val($product.find("td.product-batchno").text().trim());
                $order.find(".order-product-ed-input").val($product.find("td.product-ed-d").text().trim());
                $order.find(".order-product-plant-input").val($product.find("td.product-plant").text().trim());
                $order.find(".hid-order-product-price").val(General.removeThousandSeprator($product.find("td.product-price").text().trim()));



                countSubTotal($order);
                countTotal();

                $("#product-modal").modal("hide");
            }

            function showProductModal($parent) {
                $(".product-search").val("").trigger('change');

                var order_city = $("#order-city option:selected").text().trim();
                if($("#order-city").val() != "")
                {
                    $(".product-search.product-plant").val(order_city).trigger('change');
                }

                $("#product-modal").modal("show");

                //$("#product-list tbody tr").unbind().click({ invoker: $parent }, prodcutClick);
                $(document).off('click').on('click', "#product-list tbody tr", { invoker: $parent }, prodcutClick);
            }

            function loadProduct() {
                @if(Model.ORDER != null)
                {
                    <text>
                var selectedCust = "@Model.ORDER.CUSTOMERID";
                var selectedPhar = "@Model.ORDER.PHARMACYID";

                //console.log(selectedPhar);

                if (selectedCust != "")
                    $('#order-cust-id').val(selectedCust).trigger('change');
                if (selectedPhar != "")
                    $('#order-pharmacy-id').val(selectedPhar).trigger('change');
                </text>

                    int i = 0;
                    if(Model.ORDERDETAILList != null)
                    {
                        foreach(ORDERDETAIL item in Model.ORDERDETAILList)
                        {
                        <text>
                        var $item = $(".mt-repeater .order-item");

                        //console.log($item);

                        if ($item.eq(@i).length == 0)
                            $(".btn-add-item").click();

                        $item = $($(".mt-repeater").find($(".order-item"))[@i]);

                        $item.find(".order-product-id").val("@item.PRODUCTID");
                        $item.find(".order-product-name").val("@item.PRODUCT.PRODUCTNAME");
                        $item.find(".order-product-batchno").text("@item.PRODUCT.BATCHNO");
                        $item.find(".order-product-ed").text("@(item.PRODUCT.EXPIREDDATE != null ? item.PRODUCT.EXPIREDDATE.Value.ToString("dd MMM yyyy") : "")");
                        $item.find(".order-product-plant").text("@item.PRODUCT.PLANT");
                        $item.find(".order-product-price").text("@(String.Format("{0:#,#}", item.PRODUCT.PRICE))");

                        $item.find(".order-product-batchno-input").val($item);
                        $item.find(".order-product-ed-input").val("@(item.PRODUCT.EXPIREDDATE)");
                        $item.find(".order-product-plant-input").val("@item.PRODUCT.PLANT");
                        $item.find(".hid-order-product-price").val("@item.PRODUCT.PRICE");

                        $item.find(".order-product-qty").val("@item.QTY");
                        $item.find(".order-product-uom").val("@item.UOM");
                        $item.find(".order-product-discount").val("@item.DISCOUNT");
                        $item.find(".order-product-discount-cust").val("@item.DISCOUNT_CUST");

                        $item.find(".hid-order-product-price").val(General.removeThousandSeprator("@item.PRODUCT.PRICE"));
                        $item.find(".DISCOUNTREFERENCE").val("@item.DISCOUNTREFERENCE");
                        $item.find(".INFODISCCUSTOMER").val("@item.INFODISCCUSTOMER");
                        $item.find(".SUBMISSIONOFDISCOUNTS").val("@item.SUBMISSIONOFDISCOUNTS");

                        countSubTotal($item);
                        //countTotal();

                        </text>
                        i++;
                        }
                    }
                }
            }

            $("#btn-submit-inquiry").on('click', function(e){
                var form = $("form");
                form.validate();

                if(form.valid()){
                    $("#inquiry-modal").modal("show");
                }else{
                    $('html, body').animate({
                        scrollTop: $("body").offset().top
                    }, 500);
                }
            });

            $('#order-city').on('change', function (e) {
                hidePharmacy($(this).val());

                $('#order-pharmacy-id').val(null).trigger("change");
                $('#order-pharmacy-id').select2('destroy');
                $('#order-pharmacy-id').select2();
                $('#order-pharmacy-id').select2('open');
            });

            $('#order-cust-id').on('change', function (e) {
                // FOR PROPOSED SOLUTION
                //$('#order-cust-address').empty();
                $("#customer-address").empty();

                generateCustAddress();

                var disable = $(this).find(':selected').data('status') == @((int)Status.Approval)
                //console.log($(this).find(':selected').data('status'));
                //console.log(disable);

                $("#btn-submit-order").prop("disabled", disable);

                $("#order-cust-phone").val($(this).find(':selected').data('phone'));
                $("#order-cust-email").val($(this).find(':selected').data('email'));
                $("#order-cust-city").val($(this).find(':selected').data('city'));

                $("#order-city").val($(this).find(':selected').data('city-id')).trigger('change');
            });

            $("#order-pharmacy-id").on('change', function (e) {
                //console.log($('#order-pharmacy-id').val());
                // FOR PROPOSED SOLUTION
                $("#channel-address").empty();

                generateChannelAddress();

                if ($('#order-pharmacy-id').val() != "" && $('#order-pharmacy-id').val() != null) {
                    $('#order-city').val($(this).find(':selected').data('city')).trigger('change.select2');
                }

                $("#order-pharmacy-address").val($(this).find(':selected').data('address'));
                $("#order-pharmacy-code").val($(this).find(':selected').data('code'));
                $("#order-pharmacy-email").val($(this).find(':selected').data('email'));
                $("#order-pharmacy-phone").val($(this).find(':selected').data('phone'));
                $("#order-institution-type").val($(this).find(':selected').data('type'));
            });

            $(document).on('focus', ".mt-repeater .order-product-name", function () {
                var $parent = $(this).closest('.order-item');

                showProductModal($parent);
            });

            $(".mt-repeater").on('click', ".btn-search-product", function () {
                //console.log("btn click");
                var $parent = $(this).closest('.order-item');

                showProductModal($parent);
            });

            $(document).on('keyup', ".mt-repeater .order-product-qty, .mt-repeater .order-product-discount", function () {
                var $parent = $(this).closest('.order-item');
                //console.log($parent);

                countSubTotal($parent);
            });

            $(".btn-submit").click(function(e){
                // VALIDASI FORM

                $(".order-product-id").each(function (i) {
                    $input = $(this);
                    if($input.val() == ""){

                        //e.preventDefault();
                    }
                });

            });

            $('.mt-repeater').each(function () {
                $(this).repeater({
                    defaultValues: {
                        'QTY': '1',
                        'DISCOUNT': '5',
                        'DISCOUNT_CUST': '0'
                    },
                    show: function () {
                        $(this).slideDown(function () {
                            var selects = $('body').find('.select2');
                            $.each(selects, function (i, selectElement) {
                                $(selectElement);
                                $(selectElement).removeClass('select2-hidden-accessible').next('.select2-container').remove();
                                $(selectElement).removeAttr('data-select2-id tabindex aria-hidden');
                            });

                            General.reinitSelect2();
                        });
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });

                        $("form")
                            .removeData("validator")
                            .removeData("unobtrusiveValidation");

                        //Parse the form again
                        $.validator
                            .unobtrusive
                            .parse("form");

                    },

                    hide: function (deleteElement) {
                        if (confirm('Are you sure you want to delete this element?')) {
                            $(this).slideUp(deleteElement, function () {
                                $(this).remove();
                                countTotal();
                            });
                        }
                    },

                    ready: function (setIndexes) {
                        //console.log("read");
                        $("form")
                            .removeData("validator")
                            .removeData("unobtrusiveValidation");

                        //Parse the form again
                        $.validator
                            .unobtrusive
                            .parse("form");
                    }

                });
            });

            loadProduct();
        });
    </script>
}