﻿@using ContactCenter.Common
@model IEnumerable<ContactCenter.Models.OrderIndexViewModel>

@{
    ViewBag.Title = ViewBag.List == null ? "Order List" : "Submitted Order List";
    ViewBag.Icon = ViewBag.List == null ? "icon-basket" : "icon-check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="@ViewBag.Icon font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">
                            @ViewBag.Title
                        </span>
                    </div>
                    <div class="inputs col-md-8">
                        @*<div class="col-md-6 pull-right pad0A">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </div>
                        </div>*@
                        @*<div class="portlet-input input-inline">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control" placeholder="search...">
                            </div>
                        </div>*@
                        <div class="portlet-input input-inline pull-right">
                            <span class="pull-left pad5R" style="margin-top: 6px;">
                                Order Date: 
                            </span>
                            <div class="input-group input-large input-daterange date-picker pull-left" data-date-format="yyyy/mm/dd">
                                <input type="text" class="form-control " name="date_from" id="date_from" placeholder="Date From">
                                <span class="input-group-addon" style="border-radius:0;"> to </span>
                                <input type="text" class="form-control" name="date_to" id="date_to" placeholder="Date To">
                            </div>
                            <button class="btn grey mrg10L" id="date-range-reset">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dv-alert"></div>
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn sbold green" id="btn-add" href="@Url.Action("Create", "Order")">
                                    <i class="fa fa-plus"></i>
                                    Add New Order
                                </a>
                                <a class="btn sbold blue pull-right" target="_blank" style="margin-left:10px" id="btn-export" href="@Url.Action("Export", "Order")">
                                    <i class="fa fa-download"></i>
                                    Export All to Excel
                                </a>

                                @if ((UserRole)Session["UserRole"] == UserRole.Admin)
                                {
                                    <a class="btn sbold blue pull-right" target="_blank" style="margin-left:10px" id="btn-export-report" href="@Url.Action("NewExport", "Order")">
                                        <i class="fa fa-download"></i>
                                        Export Report
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="order-list-server">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ORDER.PHARMACY.PHARMACYNAME)
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th style="min-width: 80px">
                                    @Html.DisplayNameFor(model => model.ORDER.STATUS)
                                </th>
                                <th style="min-width: 100px">Action</th>
                            </tr>
                            <tr>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    <input type="text" class="form-control" placeholder="Search.." />
                                </th>
                                <th style="padding: 10px 8px;">
                                    @Html.DropDownList("city-search", new SelectList(ViewBag.Cities, "CITY1", "CITY1"), "All Region", new { @class = "form-control select2 no-placeholder", @id = "order-city" })
                                </th>
                                <th style="padding: 10px 8px;">
                                    @*<input type="text" class="form-control" placeholder="Search.." />*@
                                </th>
                                <th style="padding: 10px 8px;">
                                    @*<input type="text" class="form-control" placeholder="Search.." />*@
                                    <select class="form-control select2 no-placeholder" @(ViewBag.List == null ? "" : "disabled=true" )>
                                        <option value="">All</option>
                                        <option value="Submitted">Submitted</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Draft">Draft</option>
                                        <option value="Inquiry">Inquiry</option>
                                        <option value="Confirmed">Confirmed</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_RejectReason")

@section scripts{
    <script>
        $(document).ready(function () {
            var url = "@Url.Action("LoadOrder", "Order")";

            var table = $("#order-list-server").DataTable({
                //"scrollX": true,
                "pagingType": "bootstrap_full_number",
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                //"filter": true, // this is for disable filter (search box)
                "orderCellsTop": true,
                "ajax": {
                    url: url,
                    type: "POST",
                    datatype: "json",
                    data: function ( d ) {
                        d.date_from = $("#date_from").val(),
                        d.date_to = $("#date_to").val()
                    }
                },
                "order": [[0, "desc"]],
                "dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "columns": [
                        { "data": "S_ORDERID", "name": "S_ORDERID", "autoWidth": true },
                        { "data": "S_CUST_NAME", "name": "S_CUST_NAME", "autoWidth": true },
                        { "data": "S_PHAR_NAME", "name": "S_PHAR_NAME", "autoWidth": true },
                        { "data": "S_PROD_NAME", "name": "S_PROD_NAME", "autoWidth": true },
                        { "data": "S_CITY", "name": "S_CITY", "autoWidth": true },
                        { "data": "S_CREATEDDATE", "name": "S_CREATEDDATE", "autoWidth": true },
                        { "data": "S_STATUS", "name": "S_STATUS", "autoWidth": true },
                        { "data": "S_ORDERID", "name": "S_ORDERID", "autoWidth": true },
                        { "data": "I_STATUS", "name": "I_STATUS", "autoWidth": true, "visible": false }
                ],
                "createdRow": function (row, data, index) {
                    var buttons = //'';
                        '<a href="@Url.Action("Details", "Order")/' + data["S_ORDERID"] + '" title="Details" class="btn yellow btn-xs btn-eye">' +
                        '    <i class="fa fa-eye"></i>' +
                        '</a>';

                    if (data["I_STATUS"] == "@((int)OrderStatus.Draft)") {
                        buttons +=
                            '<a href="@Url.Action("Edit", "Order")/'+data["S_ORDERID"]+'" title="Edit" class="btn green btn-xs btn-edit"> ' +
                            '    <i class="fa fa-pencil"></i>' +
                            '</a>';
                    }

                    if (data["I_STATUS"] == "@((int)OrderStatus.Submitted)" || data["I_STATUS"] == "@((int)OrderStatus.Complete)") {
                        buttons +=
                            '<a href="@Url.Action("Reorder", "Order")/' + data["S_ORDERID"] + '" title="Reorder" class="btn blue btn-xs btn-reorder"> ' +
                            '    <i class="fa fa-refresh"></i>' +
                            '</a>';
                    }

                    if (data["I_STATUS"] == "@((int)OrderStatus.Submitted)") {
                        buttons +=
                            '<a href="@Url.Action("Confirm", "Order")/' + data["S_ORDERID"] + '" title="Confirm" class="btn green-meadow btn-xs btn-confirm" onclick="return confirm(\'Are you sure to Confirm Order ID: ' + data["S_ORDERID"] + '?\');"> ' +
                            '    <i class="fa fa-thumbs-up"></i>' +
                            '</a>' +
                            '<a href="#" title="Reject" class="btn red-haze btn-xs btn-reject" data-id="' + data["S_ORDERID"] + '" > ' +
                            '    <i class="fa fa-thumbs-down"></i>' +
                            '</a>';

                        //thumbs-o-up
                        //thumbs-o-down
                    }

                    if (data["I_STATUS"] == "@((int)OrderStatus.Confirmed)") {
                        buttons +=
                            '<a href="@Url.Action("Complete", "Order")/' + data["S_ORDERID"] + '" title="Complete" class="btn green-meadow btn-xs btn-complete" onclick="return confirm(\'Are you sure to Complete Order ID: '+data["S_ORDERID"]+'?\');"> ' +
                            '    <i class="fa fa-check"></i>' +
                            '</a>';
                    }

                    $('td', row).eq(7).attr("style", "text-align: center");
                    $('td', row).eq(7).html(buttons);
                },

            });
            
            $('#order-list-server thead tr:eq(1) th').each(function (i) {
                $('input, select', this).on('keyup change', function () {
                    //console.log(table.column());
                    //console.log(table.column(i).search());
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                        //console.log("search");
                    }
                });
            });

            var lastJQueryTS = 0;
            $('.date-picker').datepicker().on('changeDate', function (ev) {
                var send = true;
                if (typeof(event) == 'object'){
                    if (event.timeStamp - lastJQueryTS < 300){
                        send = false;
                    }
                    lastJQueryTS = event.timeStamp;
                }
                if (send){
                    table.ajax.reload();
                    console.log("changed");
                }

                updateExportHref();
            });

            $("#date-range-reset").on('click', function () {
                $('#date_from').datepicker('setDate', null);
                $('#date_to').datepicker('setDate', null);
            });

            updateExportHref();

            function updateExportHref() {
                var date_from = $('#date_from').val();
                var date_to = $('#date_to').val();

                var export_uri = $('#btn-export').attr("href");
                var export_report_uri = $('#btn-export-report').attr("href");

                var date_params = '?date_from=' + date_from + '&date_to=' + date_to;

                if (export_uri.indexOf("?") > 0) {
                    var clean_uri = export_uri.substring(0, export_uri.indexOf("?"));
                    export_uri = clean_uri;
                }
                if (export_report_uri.indexOf("?") > 0) {
                    var clean_uri = export_report_uri.substring(0, export_report_uri.indexOf("?"));
                    export_report_uri = clean_uri;
                }

                $('#btn-export').attr('href', export_uri + date_params);
                $('#btn-export-report').attr('href', export_report_uri + date_params);
                
            }
        });
    </script>
    }