﻿@model ContactCenter.USER

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-user-following font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Edit User (@Model.USERNAME - @Model.FULLNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="dv-alert"></div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.USERID)
                        @Html.HiddenFor(model => model.PASSWORD)
                        @Html.HiddenFor(model => model.CREATEDBY)
                        @Html.HiddenFor(model => model.CREATEDDATE)

                        <div class="form-group">
                            @Html.LabelRequiredFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelRequiredFor(model => model.FULLNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelRequiredFor(model => model.ROLE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ROLE, new List<SelectListItem>(ViewBag.Roles), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ROLE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelRequiredFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelRequiredFor(model => model.STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem>(ViewBag.Statuses), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Created By", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 pad-top-7">
                                @Html.DisplayFor(model => model.USER2.USERNAME)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 pad-top-7">
                                @Html.DisplayFor(model => model.CREATEDDATE)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("IsReset", "Reset Password?", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="padding-top: 7px;">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    (Check if Reset Password)
                                    @*<input type="checkbox" name="IsReset">*@
                                    @Html.CheckBox("IsReset", false)
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (ViewBag.Error != null && ViewBag.Error != "")
                                    {
                                        <div class='alert alert-danger text-center' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Error</b>
                                        </div>
                                    }

                                    @if (ViewBag.Success != null && ViewBag.Success != "")
                                    {
                                        <div class='alert alert-success text-center' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Success</b>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    @*<input type="submit" value="Create" class="btn btn-default" />*@
                                    <button type="submit" class="btn btn-success" id="btn-save">
                                        <i class="fa fa-check"></i>
                                        Save Changes
                                    </button>
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn default" })
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
