﻿@using ContactCenter.Common
@model IEnumerable<ContactCenter.USER>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-users font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">User List</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dv-alert"></div>
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn sbold green" id="btn-add" href="@Url.Action("Create", "UserManagement")">
                                    <i class="fa fa-plus"></i>
                                    Add New User
                                </a>
                                <a class="btn sbold blue pull-right" target="_blank" href="@Url.Action("ExportCallback", "Order")">
                                    <i class="fa fa-download"></i>
                                    Export Callback
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="user-list">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.USERNAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FULLNAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ROLE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EMAIL)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.STATUS)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CREATEDDATE)
                                </th>
                                <th>
                                    Created By
                                </th>
                                <th style="min-width: 50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USERNAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FULLNAME)
                                    </td>
                                    <td>
                                        @*@UserHelper.GetUserRole(item.ROLE)*@
                                        @(((UserRole)item.ROLE).GetDescription())
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMAIL)
                                    </td>
                                    <td>
                                        @if (item.STATUS > 0)
                                        {
                                            <span class="label label-success"> Active </span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger"> Inactive </span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USER2.USERNAME)
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit", "UserManagement", new { id = item.USERID })" title="Edit" class="btn green btn-xs btn-edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        @*@if(Session["UserID"].ToString() != item.USERID.ToString())
                                        {
                                            <a href="@Url.Action("Delete", "UserManagement", new { id = item.USERID })" title="Delete" class="btn red btn-xs btn-disable">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        }*@

                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.USERID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.USERID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.USERID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
